1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "davidgf.net"
      VALUE "FileDescription", "WhatsApp support plugin for pidgin"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "whatsapp-pidgin-plugin"
      VALUE "LegalCopyright", "Copyright 2015 David Guillen Fandos"
      VALUE "OriginalFilename", "whatsapp-pidgin-plugin.dll"
      VALUE "ProductName", "Whatsapp plugin for Pidgin"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
